// Colours partial
$white: #fff;
$black: #000;
$red: #ff0036;
$gray: #262626;
$font-gray: #505050;
$font-color: #a4a4a4;
$line-color: #262626;
$brand-color: #52c13e;
$btn-black: #131313;

// Fonts
$font-family: "Raleway", sans-serif;
$font-secondary: "Open Sans", sans-serif;
$font-accent: "Cardo", Georgia, 'Times New Roman', serif;
$lato: 'Lato', sans-serif;

// Weights
$light: 300;
$normal: 400;
$medium: 500;
$semibold: 600;
$bold: 700;
$extrablack: 900;

// Sizes
$font-size-h1:30px;
$font-size-h2:40px;
$font-size-h3:24px;
$font-size-h4:18px;
$font-size-h5:15px;
$font-size-p: 15px;
$nav-font-size: 18px;
$blog-post-title: 11px;

// Responsive Sizes
$bp-small: 320px;
$bp-small-2: 480px;
$bp-small-3: 568px;
$bp-medium: 640px;
$bp-medium-2: 900px;
$bp-large: 1060px;